<h2>Product List</h2>

<div class="column-toggles">
  <mat-checkbox *ngFor="let col of columnDefinitions" [(ngModel)]="col.enabled" (change)="updateDisplayedColumns()">
    {{ col.header }}
  </mat-checkbox>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- Dynamic Columns -->
    <ng-container *ngFor="let col of columnDefinitions" [matColumnDef]="col.field">
      <th mat-header-cell *matHeaderCellDef>{{ col.header }}</th>
      <td mat-cell *matCellDef="let product">
        <ng-container [ngSwitch]="col.field">
          <ng-container *ngSwitchCase="'id'">
            <!-- Clickable product ID to navigate to details -->
            <a (click)="viewProductDetails(product.id)" style="cursor: pointer; color: blue; text-decoration: underline;">{{ product.id }}</a>
          </ng-container>
          <ng-container *ngSwitchCase="'inStock'">
            {{ product.inStock ? 'Yes' : 'No' }}
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ product[col.field] }}
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
